@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  --lightBlue: #f2f5fa;
  --white: #ffffff;
  --black: #545454;
  --darkBlack: #000000;
  --lightBlack: #8291a9;
  --blue: #0081ff;
  --red: #ff3d57;
  --yellow: #09b66d;
  --orange: #ff8a48;
  --allBalanceBg: linear-gradient(239.6deg, #791a1a 0%, #151515 44.36%);
}

body {
  padding: 0;
  margin: 0;
  background: var(--lightBlue);
}
